<% provide(:title, "About | ") %>
<div id="about" class="content">
  <h1>About</h1>
  <p>このアプリケーションは、物語のプロット作成支援ツールです。<br>
  カードの占い結果がインスピレーションを刺激し、物語づくりをお手伝いします。</p>

  <h1>Description</h1>
  <p>24枚中、無作為に6枚のカードを選び出します。<br>
  それぞれのカードは、以下の要素の状態を暗示しています。<br>
  1. 主人公の現在<br>
  2. 主人公の近い未来<br>
  3. 主人公の過去<br>
  4. 援助者<br>
  5. 敵対者<br>
  6. 結末（目的）</p>


  <h1>Sample</h1>
  <table>
    <tr>
      <th>要素</th>
      <th>カード</th>
    </tr>
    <tr>
      <td>主人公の現在</td>
      <td>至誠（正位置）</td>
    </tr>
    <tr>
      <td>主人公の近い未来</td>
      <td>勇気（正位置）</td>
    </tr>
    <tr>
      <td>主人公の過去</td>
      <td>生命（正位置）</td>
    </tr>
    <tr>
      <td>援助者</td>
      <td>庇護（正位置）</td>
    </tr>
    <tr>
      <td>敵対者</td>
      <td>善良（逆位置）</td>
    </tr>
    <tr>
      <td>結末（目的）</td>
      <td>解放（正位置）</td>
    </tr>
  </table>
  <p>むかしむかし、おじいさんとおばあさんは川で大きな桃を拾いました。<br>
  桃を切ると、中から元気な男の子が生まれました【生命（正位置）】。<br>
  おじいさんとおばあさんは、その男の子に桃太郎と名付け、大切に育てました【庇護（正位置）】。<br><br>

  やがて桃太郎はすくすくと成長し、誠実で立派な青年となりました【至誠（正位置）】。<br>
  成長した桃太郎は、鬼ヶ島の鬼が人々を苦しめていることを知り【善良（逆位置）】、<br>
  鬼退治を決意し、旅立ちます【勇気（正位置）】。<br><br>

  桃太郎は無事に鬼を倒し、鬼たちが人々から奪っていった金銀財宝を取り戻して、<br>
  おじいさんおばあさんと共に幸せに暮らしましたとさ【解放（正位置）】。</p>

  <h1>Reference</h1>
  <p>
    <a href="http://yaruo.wikia.com/wiki/%E3%82%84%E3%82%8B%E5%A4%AB%E3%81%8C%E5%B0%8F%E8%AA%AC%E5%AE%B6%E3%81%AB%E3%81%AA%E3%82%8B%E3%82%88%E3%81%86%E3%81%A7%E3%81%99">やる夫が小説家になるようです</a>
  </p>


</div>
