<% provide(:title, "Cardlist | ") %>
<dl class="cardlist">
<dt class="description">
  <img src="assets/tarot/pos01.png" alt="001", height="400px", class="imglist">
</dt>
<dd>【意志】</dd>
<dd>正位置：</dd>
<dd>逆位置：</dd>

  <img src="assets/tarot/pos02.png" alt="002", height="400px", class="imglist">
  <img src="assets/tarot/pos03.png" alt="003", height="400px", class="imglist">
  <img src="assets/tarot/pos04.png" alt="004", height="400px", class="imglist">
  <img src="assets/tarot/pos05.png" alt="005", height="400px", class="imglist">
  <img src="assets/tarot/pos06.png" alt="006", height="400px", class="imglist">
  <img src="assets/tarot/pos07.png" alt="007", height="400px", class="imglist">
  <img src="assets/tarot/pos08.png" alt="008", height="400px", class="imglist">
  <img src="assets/tarot/pos09.png" alt="009", height="400px", class="imglist">
  <img src="assets/tarot/pos10.png" alt="010", height="400px", class="imglist">
  <img src="assets/tarot/pos11.png" alt="011", height="400px", class="imglist">
  <img src="assets/tarot/pos12.png" alt="012", height="400px", class="imglist">
  <img src="assets/tarot/pos13.png" alt="013", height="400px", class="imglist">
  <img src="assets/tarot/pos14.png" alt="014", height="400px", class="imglist">
  <img src="assets/tarot/pos15.png" alt="015", height="400px", class="imglist">
  <img src="assets/tarot/pos16.png" alt="016", height="400px", class="imglist">
  <img src="assets/tarot/pos17.png" alt="017", height="400px", class="imglist">
  <img src="assets/tarot/pos18.png" alt="018", height="400px", class="imglist">
  <img src="assets/tarot/pos19.png" alt="019", height="400px", class="imglist">
  <img src="assets/tarot/pos20.png" alt="020", height="400px", class="imglist">
  <img src="assets/tarot/pos21.png" alt="021", height="400px", class="imglist">
  <img src="assets/tarot/pos22.png" alt="022", height="400px", class="imglist">
  <img src="assets/tarot/pos23.png" alt="023", height="400px", class="imglist">
  <img src="assets/tarot/pos24.png" alt="024", height="400px", class="imglist">
</dl>

<dl id="cardlist" class="content">
  <dt>【意志】</dt>
  <dt>【清楚】</dt>
  <dt>【理性】</dt>
  <dt>【秩序】</dt>
  <dt>【知恵】</dt>
  <dt>【誓約】</dt>
  <dt>【善良】</dt>
  <dt>【節度】</dt>
  <dt>【至誠】</dt>
  <dt>【生命】</dt>
  <dt>【寛容】</dt>
  <dt>【解放】</dt>
  <dt>【調和】</dt>
  <dt>【創造】</dt>
  <dt>【信頼】</dt>
  <dt>【公式】</dt>
  <dt>【変化】</dt>
  <dt>【結合】</dt>
  <dt>【厳格】</dt>
  <dt>【勇気】</dt>
  <dt>【幸運】</dt>
  <dt>【庇護】</dt>
  <dt>【治癒】</dt>
  <dt>【慈愛】</dt>
</dl>


  <ul class="positive">
    <li id="01">精神力 / 克己心 / 決断 / 意地</li>
    <li id="02">清楚</li>
    <li id="03">理性</li>
    <li id="04">秩序</li>
    <li id="05">知恵</li>
    <li id="06">誓約</li>
    <li id="07">善良</li>
    <li id="08">節度</li>
    <li id="09">至誠</li>
    <li id="10">生命</li>
    <li id="11">寛容</li>
    <li id="12">解放</li>
    <li id="13">調和</li>
    <li id="14">創造</li>
    <li id="15">信頼</li>
    <li id="16">公式</li>
    <li id="17">変化</li>
    <li id="18">結合</li>
    <li id="19">厳格</li>
    <li id="20">勇気</li>
    <li id="21">幸運</li>
    <li id="22">庇護</li>
    <li id="23">治癒</li>
    <li id="24">慈愛</li>
  </ul>

  <ul class="reverse">
    <li id="01">優柔不断 / 躊躇 / 本意でない結果</li>
    <li id="02">清楚</li>
    <li id="03">理性</li>
    <li id="04">秩序</li>
    <li id="05">知恵</li>
    <li id="06">誓約</li>
    <li id="07">善良</li>
    <li id="08">節度</li>
    <li id="09">至誠</li>
    <li id="10">生命</li>
    <li id="11">寛容</li>
    <li id="12">解放</li>
    <li id="13">調和</li>
    <li id="14">創造</li>
    <li id="15">信頼</li>
    <li id="16">公式</li>
    <li id="17">変化</li>
    <li id="18">結合</li>
    <li id="19">厳格</li>
    <li id="20">勇気</li>
    <li id="21">幸運</li>
    <li id="22">庇護</li>
    <li id="23">治癒</li>
    <li id="24">慈愛</li>
  </ul>
</div>
