<% provide(:title, "Cardlist | ") %>
<div id="cardlist" class="content">
  <div class="tarot-description">
    <img src="assets/tarot/pos01.png" alt="001", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【意志】<br></div>
      <div class="pos-des">正位置：精神力のある / 克己心が強い / 決断 / 意地っ張り<br></div>
      <div class="rev-des">逆位置：優柔不断 / 躊躇 / 本意でない結果<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos02.png" alt="002", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【清楚】<br></div>
      <div class="pos-des">正位置：可憐 / 清純 / 気品がある / 美しい<br></div>
      <div class="rev-des">逆位置：色っぽい / 官能的 / セクシュアル<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos03.png" alt="003", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【理性】<br></div>
      <div class="pos-des">正位置：知性的 / 合理的 / 理解力 / 冷静<br></div>
      <div class="rev-des">逆位置：感情的 / フィーリング / 情熱 / 気分屋<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos04.png" alt="004", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【秩序】<br></div>
      <div class="pos-des">正位置：組織 / 規律 / 命令 / 勲章 / 型にはまっている<br></div>
      <div class="rev-des">逆位置：混沌 / 大騒ぎ / 崩壊 / 狼狽 / 不安<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos05.png" alt="005", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【知恵】<br></div>
      <div class="pos-des">正位置：聡明 / 分別 / 学習能力 / 工夫 / 賢者<br></div>
      <div class="rev-des">逆位置：無知 / 暗愚 / 白痴 / 浅はか / 間抜け<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos06.png" alt="006", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【誓約】<br></div>
      <div class="pos-des">正位置：約束 / 契約 / 宣言 / 同盟<br></div>
      <div class="rev-des">逆位置：裏切り / 背信 / 不義 / 反逆<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos07.png" alt="007", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【善良】<br></div>
      <div class="pos-des">正位置：道徳 / 博愛 / 長所 / 仁義<br></div>
      <div class="rev-des">逆位置：邪悪 / 不道徳 / 遺恨 / 害悪 / 意地悪い<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos08.png" alt="008", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【節度】<br></div>
      <div class="pos-des">正位置：節操 / 中庸 / 抑制 / 頃合い / 礼儀正しい<br></div>
      <div class="rev-des">逆位置：無節操 / 尻軽 / けじめがない / 変節漢<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos09.png" alt="009", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【至誠】<br></div>
      <div class="pos-des">正位置：真面目 / 真摯 / 正直 / 実直 / 堅物<br></div>
      <div class="rev-des">逆位置：不実 / 虚言 / 不忠 / 詐偽 / 空言<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos10.png" alt="010", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【生命】<br></div>
      <div class="pos-des">正位置：誕生 / 萌芽 / 自然 / 生き残る<br></div>
      <div class="rev-des">逆位置：絶命 / 終わり / もしものこと / 死神 / 喪失<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos11.png" alt="011", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【寛容】<br></div>
      <div class="pos-des">正位置：鷹揚 / 甘い / おおらか / 大雑把 / 包容力<br></div>
      <div class="rev-des">逆位置：狭量 / けちくさい / せせこましい / 融通の利かない<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos12.png" alt="012", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【解放】<br></div>
      <div class="pos-des">正位置：解き放つ / 助け出す / 手放す / 喪失 / 許す<br></div>
      <div class="rev-des">逆位置：束縛 / 拘束 / 抑圧 / 制限 / 閉じ込める<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos13.png" alt="013", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【調和】<br></div>
      <div class="pos-des">正位置：協力 / 似合う / 釣り合う / 一致<br></div>
      <div class="rev-des">逆位置：対立 / 排他 / 諍い / 食い違い<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos14.png" alt="014", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【創造】<br></div>
      <div class="pos-des">正位置：製作 / 建築 / 独創性のある / 発明<br></div>
      <div class="rev-des">逆位置：模倣 / 破壊 / 解体 / 人真似<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos15.png" alt="015", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【信頼】<br></div>
      <div class="pos-des">正位置：信任 / 任せる / 当てにする / 依存<br></div>
      <div class="rev-des">逆位置：疑惑 / 心許ない / 危うい / 不確実<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos16.png" alt="016", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【公式】<br></div>
      <div class="pos-des">正位置：儀式 / 正式 / 堅苦しい / 模範<br></div>
      <div class="rev-des">逆位置：私的 / 内輪 / 個人的 / 簡略 / 軽い<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos17.png" alt="017", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【変化】<br></div>
      <div class="pos-des">正位置：変質 / 革命 / バリエーション / 入れ替え<br></div>
      <div class="rev-des">逆位置：不変 / 永遠 / 静的 / 不滅 / 変えられない<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos18.png" alt="018", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【結合】<br></div>
      <div class="pos-des">正位置：組み合わせ / 合流 / 協同 / 連鎖<br></div>
      <div class="rev-des">逆位置：分離 / 別れ / 離れ離れ / 解散<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos19.png" alt="019", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【厳格】<br></div>
      <div class="pos-des">正位置：厳か / 手厳しい / 苛烈 / シビア<br></div>
      <div class="rev-des">逆位置：だらしない / 杜撰 / 軟弱 / 不甲斐ない<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos20.png" alt="020", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【勇気】<br></div>
      <div class="pos-des">正位置：勇敢 / 根性 / 度胸 / 無遠慮<br></div>
      <div class="rev-des">逆位置：臆病 / 腰抜け / 気が小さい / シャイ<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos21.png" alt="021", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【幸運】<br></div>
      <div class="pos-des">正位置：巡り合わせ / 果報 / 多幸 / 好機<br></div>
      <div class="rev-des">逆位置：災難 / 薄幸 / 薄命 / 悪運 / 厄<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos22.png" alt="022", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【庇護】<br></div>
      <div class="pos-des">正位置：保護する / 後見人 / サポートする<br></div>
      <div class="rev-des">逆位置：圧政 / 虐げる / いびる / 責め苛む<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos23.png" alt="023", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【治癒】<br></div>
      <div class="pos-des">正位置：回復 / 再起 / 復調 / 治る<br></div>
      <div class="rev-des">逆位置：傷つく / 汚点になる / 堪える / 心を痛める<br></div>
    </div>
  </div>
  <div class="tarot-description">
    <img src="assets/tarot/pos24.png" alt="024", height="400px", class="imglist">
    <div class="tarot-caption">
      <div class="tarot-name">【慈愛】<br></div>
      <div class="pos-des">正位置：慈しみ / 情愛 / あたたかみ / 優しさ<br></div>
      <div class="rev-des">逆位置：憎悪 / 嫌忌 / 毛嫌う / 唾棄する<br></div>
    </div>
  </div>
</div>
