<% provide(:title, "Cardlist | ") %>
<div id="cardlist" class="content">
  <h1 id="001" class="cardlist">【意志】</h1>
  <h1 id="002" class="cardlist">【清楚】</h1>
  <h1 id="003" class="cardlist">【理性】</h1>
  <h1 id="004" class="cardlist">【秩序】</h1>
  <h1 id="005" class="cardlist">【知恵】</h1>
  <h1 id="006" class="cardlist">【誓約】</h1>
  <h1 id="007" class="cardlist">【善良】</h1>
  <h1 id="008" class="cardlist">【節度】</h1>
  <h1 id="009" class="cardlist">【至誠】</h1>
  <h1 id="010" class="cardlist">【生命】</h1>
  <h1 id="011" class="cardlist">【寛容】</h1>
  <h1 id="012" class="cardlist">【解放】</h1>
  <h1 id="013" class="cardlist">【調和】</h1>
  <h1 id="014" class="cardlist">【創造】</h1>
  <h1 id="015" class="cardlist">【信頼】</h1>
  <h1 id="016" class="cardlist">【公式】</h1>
  <h1 id="017" class="cardlist">【変化】</h1>
  <h1 id="018" class="cardlist">【結合】</h1>
  <h1 id="019" class="cardlist">【厳格】</h1>
  <h1 id="020" class="cardlist">【勇気】</h1>
  <h1 id="021" class="cardlist">【幸運】</h1>
  <h1 id="022" class="cardlist">【庇護】</h1>
  <h1 id="023" class="cardlist">【治癒】</h1>
  <h1 id="024" class="cardlist">【慈愛】</h1>

  <ul class="positive">
    <li id="01">精神力 / 克己心 / 決断 / 意地</li>
    <li id="02">清楚</li>
    <li id="03">理性</li>
    <li id="04">秩序</li>
    <li id="05">知恵</li>
    <li id="06">誓約</li>
    <li id="07">善良</li>
    <li id="08">節度</li>
    <li id="09">至誠</li>
    <li id="10">生命</li>
    <li id="11">寛容</li>
    <li id="12">解放</li>
    <li id="13">調和</li>
    <li id="14">創造</li>
    <li id="15">信頼</li>
    <li id="16">公式</li>
    <li id="17">変化</li>
    <li id="18">結合</li>
    <li id="19">厳格</li>
    <li id="20">勇気</li>
    <li id="21">幸運</li>
    <li id="22">庇護</li>
    <li id="23">治癒</li>
    <li id="24">慈愛</li>
  </ul>

  <ul class="reverse">
    <li id="01">優柔不断 / 躊躇 / 本意でない結果</li>
    <li id="02">清楚</li>
    <li id="03">理性</li>
    <li id="04">秩序</li>
    <li id="05">知恵</li>
    <li id="06">誓約</li>
    <li id="07">善良</li>
    <li id="08">節度</li>
    <li id="09">至誠</li>
    <li id="10">生命</li>
    <li id="11">寛容</li>
    <li id="12">解放</li>
    <li id="13">調和</li>
    <li id="14">創造</li>
    <li id="15">信頼</li>
    <li id="16">公式</li>
    <li id="17">変化</li>
    <li id="18">結合</li>
    <li id="19">厳格</li>
    <li id="20">勇気</li>
    <li id="21">幸運</li>
    <li id="22">庇護</li>
    <li id="23">治癒</li>
    <li id="24">慈愛</li>
  </ul>
</div>

<%= javascript_tag do %>
  var target_imgs = document.getElementsByClassName("tarot-image");
  for (var i = 0 ; i < target_imgs.length; i++) {
    target_imgs[i].addEventListener("click", function(){
    document.getElementById("result-image").src = this.src;
    document.getElementById("result-description").textContent="あいうえお";
    });
  }
<% end %>
