<% provide(:title, "Contact | ") %>
<div id="contact" class="content">
  <h1>Contact</h1>
  <p>本アプリケーションへのご意見は以下にお願いいたします。</p>
  <iframe class="embed-card embed-webcard" style="display: block; width: 100%; height: 155px; max-width: 500px; margin: 10px 0px;" title="TeQuiLayy/tarot_plot" src="https://hatenablog-parts.com/embed?url=https%3A%2F%2Fgithub.com%2FTeQuiLayy%2Ftarot_plot" frameborder="0" scrolling="no"></iframe><cite class="hatena-citation"><a href="https://github.com/TeQuiLayy/tarot_plot">github.com</a></cite>
</div>
