<div id= "index" class="content">
  <h1>You play with the cards you're dealt, whatever that means.</h1>
  <h2>配られたカードで勝負するっきゃないのさ…それがどういう意味であれ。</h2>
  <p id="main">このサイトは、物語のネタ出しに困っているあなたをお助けする、プロット作成支援サイトです。<br>
  カードの占い結果から得られたインスピレーションをもとに、物語を作ってみましょう！<br>
  作成例は<%= link_to "Aboutページ", about_path %>を御覧ください。<br>
  <p> <%= link_to "占う", oracle_path, class: "btn btn-lg btn-cyan700_rsd" %> </p>
</div>
