<div id= "index" class="content">
  <h1>You play with the cards you're dealt, whatever that means.</h1>
  <h2>配られたカードで勝負するっきゃないのさ…それがどういう意味であれ。</h2>
  <p id="main">このアプリケーションは、物語のプロット作成支援ツールです。<br>カードの占い結果があなたのインスピレーションを刺激し、物語づくりをお手伝いします。</p>
  <p> <%= link_to "占う", about_path, {:class => "btn"} %> </p>
</div>
