<% provide(:title, "Oracle | ") %>
<div class="content">
  <p id="oracle">
    <% tarot = (1..24).to_a %>
    <% position = [0, 1]%>
    <% oracle = tarot.sample(6) %>
    <% for i in 0..5 do %>
      <% image_num = oracle[i].to_s.rjust(2, "0") %>
      <% image_pos = position.sample(1) %>
      <% image_name = image_pos[0].to_s+image_num %>
      <% image_path = "tarot/"+image_name+".png" %>
      <%= image_tag(image_path, :height => "400px", :class => "tarot-image") %>
      <% if (i == 1) || (i == 3) %>
        <br>
      <% end %>
    <% end %>
  </p>
  <p id="result">
    <%= image_tag("tarot/000.png", :height => "500px", :id => "result-image") %>
  </p>
</div>

<%= javascript_tag do %>
  var target_img = document.getElementsByClassName("tarot-image");
  for (var i = 0 ; i < target_img.length; i++) {
    target_img[i].addEventListener("click", function(){
      alert("タロットクリック");
    });
  }
<% end %>
