@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

body {
  background-image: url(bg-index-compressor.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: "Bitter", serif;
}

.btn:visited {
  color: #ffffff;
}

footer {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
}

footer small {
  font-size: 12px;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 50px;
}

.grobal-nav {
  float: right;
  margin-top: 60px;
}

.grobal-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Bitter', serif;
}

.grobal-nav li a {
  color: #ffffff;
}

.grobal-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  clear: both;
}

.content {
  width: 960px;
  margin: 0 auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* home */
#index {
  margin-top: 150px;
}

#index h1 {
  font-size: 50px;
  line-height: 1;
  color: #ffffff;
  font-family: "Bitter", serif;
}

#index h2 {
  font-size: 25px;
  line-height: 1;
  color: #ffffff;
  font-family: "Bitter", serif;
  margin-bottom: 50px;
}

#index p {
  font-size: 16px;
  color: #ffffff;
  font-family: "Bitter", serif;
}

#index a {
  color: #ffffff;
}

#index a:visited {
  color: #ffffff;
}

/* oracle */
#oracle-clear.content:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

#oracle {
  width: 620px;
  padding-top: 30px;
  padding-left: 10px;
  /*margin-top: 30px;
  margin-left: 10px;*/
  float: left;
  .btn {
    margin-top: 30px;
    margin-left: 30px;
  }
}

.oracle-list {
  font-size: 15px;
  color: #ffffff;
  font-family: "Bitter", serif;
  text-shadow: 1px 2px 3px #000000;
  list-style: none;
  li {
    float: left;
  }
  li:nth-child(3) {
    margin-right: 40px;
  }
  dt {
    text-align: center;
  }
}

.tarot-image {
  margin: 10px;
}

#result {
  width: 330px;
  height: 750px;
  float: right;
}

#result-image {
  margin-top: 10px;
  margin-left: 0px
}

#result-factor {
  width: 300px;
  float: right;
  font-size: 25px;
  color: #ffffff;
  font-family: "Bitter", serif;
  margin: 20px 45px 0px 0px;
  text-align: center;
  text-shadow: 1px 2px 3px #000000;
}

#result-name {
  width: 300px;
  float: right;
  font-size: 25px;
  color: #ffffff;
  font-family: "Bitter", serif;
  margin: 20px 45px 0px 0px;
  text-align: center;
  text-shadow: 1px 2px 3px #000000;
}

#result-description {
  width: 300px;
  float: right;
  font-size: 20px;
  color: #ffffff;
  font-family: "Bitter", serif;
  margin: 0px 45px 0px 0px;
  text-align: center;
  text-shadow: 1px 2px 3px #000000;
}

div#id .btn {
  margin-bottom: 100px;
}

#oracle:after {
  content: "";
  display: block;
  clear: both;
}

#result:after {
  content: "";
  display: block;
  clear: both;
}

.result-name-list {
  display: none;
}

.pos-des-list {
 display: none;
}

.rev-des-list {
  display: none;
}

/* about */
#about {
  font-size: 18px;
  color: #ffffff;
  font-family: "Bitter", serif;
  margin-top: 10px;
  padding: 30px;
  padding-bottom: 0px;
  text-shadow: 1px 2px 3px #000000;
}

#about p {
  margin-top: 20px;
  margin-bottom: 40px;
}

#about table {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#about a {
  color: #ffffff;
  text-decoration: none;
}

#about a:visited {
  color: #ffffff;
}

#about a:hover {
  text-decoration: underline;
}


/* cardlist */
div.tarot-description {
  width: 460px;
  height: 400px;
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 25px;
  float: left;
}

div.tarot-description img {
  float: left;
}

div.tarot-caption {
  font-size: 20px;
  color: #ffffff;
  font-family: "Bitter", serif;
  margin-left: 225px;
  text-shadow: 1px 2px 3px #000000;
}

div.tarot-name {
  margin-bottom: 20px;
}

div.pos-des {
  margin-bottom: 20px;
}

div.tarot-description:after {
  content: "";
  display: block;
  clear: both;
}

#cardlist.content:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* contact */
#contact {
  font-size: 18px;
  color: #ffffff;
  font-family: "Bitter", serif;
  margin-top: 10px;
  padding: 30px;
  padding-bottom: 0px;
  text-shadow: 1px 2px 3px #000000;
}

#contact a {
  color: #ffffff;
  text-decoration: none;
}

#contact a:visited {
  color: #ffffff;
}
