@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

body {
  background-image: url(bg-index-compressor.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: "Bitter", serif;
}

.btn:visited {
  color: #ffffff;
}

footer {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  margin-top: 150px;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 50px;
}

.grobal-nav {
  float: right;
  margin-top: 60px;
}

.grobal-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Bitter', serif;
}

.grobal-nav li a {
  color: #ffffff;
}

.grobal-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  clear: both;
}

.content {
  width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
}

footer small {
  font-size: 12px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* home */
#index {
  margin-top: 150px;
}

#index h1 {
  font-size: 50px;
  line-height: 1;
  color: #ffffff;
  font-family: "Bitter", serif;
}

#index h2 {
  font-size: 25px;
  line-height: 1;
  color: #ffffff;
  font-family: "Bitter", serif;
  margin-bottom: 50px;
}

#index p {
  font-size: 16px;
  color: #ffffff;
  font-family: "Bitter", serif;
}

/* oracle */
#oracle {
  width: 480px;
  margin-top: 30px;
  margin-left: 10px;
  float: left;
}

.tarot-image {
  margin: 10px;
}

#result {
  width: 420px;
  margin: 0 10px 0 30px;
  float: right;
}

#result-image {
  margin-top: 40px;
  margin-left: 140px
}

#result-description {
  font-size: 30px;
  color: #ffffff;
  font-family: "Bitter", serif;
  margin-top: 20px;
  text-align: center;
}

#oracle:after {
  content: "";
  display: block;
  clear: both;
}

/* about */
#about {
  font-size: 18px;
  color: #ffffff;
  font-family: "Bitter", serif;
  margin-top: 10px;
  padding: 30px;
  text-shadow: 1px 2px 3px #000000;
}

#about p {
  margin-top: 20px;
  margin-bottom: 40px;
}

#about table {
  width: 300px;
  margin-bottom: 30px;
}

#about a {
  color: #e6e6e6;
  text-decoration: none;
}

#about a:visited {
  color: #e6e6e6;
}

#about a:hover {
  text-decoration: underline;
}


/* cardlist */
.cardlist {
  font-size: 16px;
  color: #ffffff;
  font-family: "Bitter", serif;
}

/* contact */
